* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    font-size: 18px;
}

html {
    background: url(https://scontent-lga3-1.cdninstagram.com/vp/3e202a8dd86ea1d9c52f83a94e631864/5BB45CAC/t51.2885-15/s750x750/sh0.08/e35/21436207_1677237305633401_7040534219528863744_n.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
}

body {
    background: rgba(255,255,255,0.8);
}

@media screen and (min-width: 768px) {
    html, body {
        font-size: 22px;
    }
}

/************/
/***BRICKS***/
/************/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

label {
    display: inline-block;
}

input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 1.1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}
::placeholder {
    color: #ccc;
}

button {
    display: block;
    height: 50px;
    margin: 0 auto;
    padding: 5px 20px;
    background: #5ac0ff;
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
}

button[disabled="disabled"] {
    background: #ddd;
    color: #999;
    cursor: default;
}

.fancy-text {
    color: #5ac0ff;
    text-shadow: 0 1px 2px #fff;
}

/************/
/***STRUCTURES***/
/************/

article {
    max-width: 700px;
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    padding: 10px 20px;
}

article header {
    text-align: center;
}

main {
    position: relative;
    margin-top: 20px;
    width: calc(100% - 20px);
}

form {
    position: relative;
    min-height: 200px;
    margin-bottom: 40px;
}

form.calculate {
    min-height: 75vh;
    max-height: 600px;
    transition: min-height 800ms;
}

/**** form ****/
.form-control {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
}

.form-control.from:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 0;
    top: 100%;
    right: 15px;
    border-left: 2px dashed black;
    transition: height 800ms;
    transition-delay: 200ms;
    transition-timing-function: linear;
}

@media screen and (min-width: 768px) {
    .form-control.from:before {
        top: calc(100% + 10px);
        right: 21px;
    }
}

form.calculate .form-control.from:before {
    height: calc(75vh - 115px);
    z-index: 5;
}

.form-control.to {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.form-control .field {
    position: relative;
}

.form-control label {
    padding-right: 8px;
}

.form-control input.error {
    border-color: #ff0000;
}

.form-control input.valid {
    border-color: #04b104;
}

.form-control span {
    display: block;
}

.form-control .indicator {
    position: absolute;
    top: 0.5rem;
    right: -5px;
}

.form-control .indicator .check,
.form-control .indicator .cross {
    display: none;
    position: absolute;
}

.form-control .indicator .check {
    color: #04b104;
}

.form-control .indicator .cross {
    color: #ff0000;
}

.form-control input.valid + .indicator .check, 
.form-control input.error + .indicator .cross {
    display: block;
}

.form-control .exists {
    font-size: 0.7rem;
    color: #ff0000;
    display: none;
}

.form-control .exists.show {
    display: block;
}

.form-control.to .equal {
    display: none;
    color: #ff0000;
    font-size: 0.7rem;
}

.form-control.to .equal.show {
    display: block;
}

/*** plane ***/

.form-control.from .plane {
    position: absolute;
    top: 4px;
    left: 186px;
    z-index: 10;
}

form.calculate .form-control.from .plane {
    animation-name: fly;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes fly {
    0% {
        left: 186px;
        color: #5ac0ff;
    }
    38% {
        left: calc(100% - 28px);
        transform: rotate(0);
    }
    50% {
        top: 4px;
        transform: rotate(90deg);
    }
    100% {
        left: calc(100% - 28px);
        top: calc(75vh - 54px);
        color: #5ac0ff;
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 768px) {
    .form-control.from .plane {
        left: 224px;
    }
    
    @keyframes fly {
        0% {
            left: 224px;
            color: #5ac0ff;
        }
        
        38% {
            left: calc(100% - 36px);
            transform: rotate(0);
        }
        50% {
            top: 4px;
            transform: rotate(90deg);
        }
        100% {
            left: calc(100% - 36px);
            top: calc(75vh - 48px);
            color: #5ac0ff;
            transform: rotate(90deg);
        }
    }
}

/**** submit ***/
.submit button.hide {
    display: none;
}

/**** results ****/
.results {
    position: absolute;
    width: calc(100% - 30px);
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    pointer-events: none;
}

.results.show {
    display: block;
    opacity: 1;
    z-index: 20;
    transition: opacity 800ms;
    transition-delay: 2000ms;
    pointer-events: auto;
}

.results.flatten * {
    display: inline-block;
    vertical-align: middle;
}

.results.flatten div {
    margin-right: 10px;
}

.results button {
    margin-top: 10px;
}

.results.flatten button {
    margin-top: 0;
}

#distance {
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
}

/*** footer ***/
footer {
    position: relative;
    height: 60px;
    background: rgba(90, 192, 255, 0.6);
}

footer p {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 0.8rem;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

footer a,
footer a:visited {
    color: #ff0000;
}
